*{
	padding:0px;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
}
body{
	background-color: #691b1d;
	position: relative;
}
header{
	text-align: center;
}
header>.logo{
	padding-top: 20px;
	padding-bottom: 20px;
}

header{	
	text-align: center;
	padding-bottom: 30px;
}
header>.container-fluid{	
	background-color:#872123;
}
#menu .nav{ 
	height:49px; 
	position:relative; 
	z-index:999;
	font-family:OpenSans-bold;
	background-color:#872123;
}
#menu .nav .dropdown { 
	width: 850px;
	margin: auto;
}
#menu .nav li { 
	line-height:1.35em;
	list-style-type:none;
}
#menu .nav li a { 
	color:#fff;
	font-size:1.10em
}
#menu .sub ul li{ 
	color:#000;
	background-color:#3d71a6;
}
.menu-icon {
	display:none;
}

#menu ul.dropdown,
#menu ul.dropdown li,
#menu ul.dropdown ul { 
	margin: 0; 
	padding: 0; 	
}

#menu ul.dropdown li { 
	float: left; 
	vertical-align: left; 
}

#menu ul.dropdown li {  
	font-size:1.2em; 
}
#menu ul.dropdown a,
#menu ul.dropdown a:visited,	
#menu ul.dropdown a:hover, 		
#menu ul.dropdown a:active { 
	text-decoration: none;
}
#menu ul.dropdown li:hover{
	background-color:#691b1d
}
#menu ul.dropdown a:hover{
	color:#FFD700;
}

#menu ul.dropdown a, 
#menu ul.dropdown span { 
	display: block;
	outline:none; 
	cursor:pointer; 
	padding:13px 15px;
}

#menu ul.dropdown ul a,
#menu ul.dropdown ul span {  
	padding:12px 15px; 
	
}	

#menu ul.dropdown li:hover, 
#menu ul.dropdown li:hover { 
	position: relative; 
	cursor:pointer; 
}

/*menu cap 1*/
#menu ul.dropdown ul { 
	display:none; 
	position: absolute;
	z-index: 598;
	width: 220px; 
	top: 100%; 
	left: 0; 
}

 
#menu ul.dropdown li:hover > ul{ 
	display:block;
}

#menu ul.dropdown ul li { 
	float: none;
	font-size:13px;
	font-weight: normal; 
	text-transform:none;
	position:relative; 
}
#menu ul.dropdown ul li:hover, 
#menu ul.dropdown ul li:hover {
	background-color:#34495E;
	color: #fff;
}
#menu ul.dropdown ul li a:hover {
	color: #fff;
}
	
/*menu cap 2*/
#menu ul.dropdown ul ul {
	top:0;
	left:100%;
}
#menu ul.dropdown *.sub { 
	padding-right:15px; 
	background-image: url(../images/menu/nav-arrow-down-thin.gif); 
	background-position: 95% 50%; 
	background-repeat: no-repeat; 
}
#menu ul.dropdown ul *.sub { 
	padding-right: 15px; 
	background-image: url(../images/menu/nav-arrow-right-thin-dark.gif);
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

#menu ul.dropdown li.sub:hover{ 
	background-image: url(../images/menu/nav-arrow-down.gif);
} 
#menu ul.dropdown ul li.sub:hover{
	background-image: url(../images/menu/nav-arrow-right-dark.gif);
}


/* Responsiveness 
------------------------------------- */
/* All device screens < = 768px */
@media screen and (max-width: 768px) {

/* Responsive menu trigger 
------------------------------------ */
#menu .menu-icon, 
#menu .menu-icon span, 
#menu .menu-icon { 
	color: #FFD700; 
	width:100%; 
	height:50px; 
	line-height:40px; 
	padding:5px; 
	font-size:1.3em; 
	font-weight:bold; 
	cursor: pointer; 
	display:block;
	position:relative;	
}

#menu .menu-icon span{ 
	width: auto;
	padding:0 15px;
	padding-left:40px; 
	height:40px; 
	background:#691b1d url(../images/menu/nav-toggle.png) center no-repeat ; 
	color:#FFD700;
	text-align: center;
	text-indent:-999em; 
	display: inline-block;
	position:absolute;
	top:5px;
	right:5px;
	 
}

/* Style these as desired 
 * - colors, bgclors etc 
------------------------------- */
/*#menu .menu-icon:hover { }
#menu .menu-icon:hover span{ }
#menu .menu-icon.active { }
#menu .menu-icon.active span{ }
*/

/* Responsive menu styling  
--------------------------------- */
#menu .nav{
	position:relative;
}
#menu .nav,
#menu ul.dropdown, 
#menu .menu-icon, 
#menu .menu-icon span, 
#menu ul.dropdown *{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
} 	
#menu ul.dropdown{  display:none; position: relative; top:-1px; border-top:1px solid #3C536A ; }
#menu ul.dropdown  li { position:relative; float:none; display:block; border-bottom:1px solid #3C536A ; background-color:#872123;}
#menu ul.dropdown  li li{ border-top:0;}
#menu ul.dropdown  ul a{ padding-left:25px; }
#menu ul.dropdown  ul ul a{ padding-left:45px; }
#menu ul.dropdown  ul a:hover  { background-color:#691b1d;}
#menu ul.dropdown *.sub { padding:0!important; background-image: none!important; }
#menu ul.dropdown ul{ overflow: hidden; max-height: 0; width:auto; display:block; position: static; }
#menu ul.dropdown ul.current { display:block; max-height:100em; }
#menu ul.dropdown li.sub > a{ padding-right:25px; }
#menu ul.dropdown li.sub > a.current{ background:#34495E;color:#fff  }
#menu ul.dropdown li.sub > ul a.current{ background:#34495E; color:#fff!important;  }
#menu ul.dropdown li.sub > a:after, 
#menu ul.dropdown li.sub > a.current:after { position: absolute; top: 0; right: 0; display: block; font-size: 1.5em; padding: 0.55em 0.5em; }
#menu ul.dropdown li.sub > a:after { content: '\002B'; }	
#menu ul.dropdown li.sub > a.current:after { content: "\2013"; top:-2px; }	
#menu ul.dropdown li.rtl ul, 
#menu ul.dropdown li.ltr ul, 
#menu ul.dropdown li.ltr ul ul, 
#menu ul.dropdown li.rtl ul ul { position:static; }
#menu ul.dropdown li.divider{ display:none!important; }

.main>.col-md-3{
	display: none;
}
 
}
/* All device screens >  768px */
@media screen and (min-width: 768px) {
	/* Avoid responsive menu hiding on browser window resize 
	-------------------------------------------------------------- */
	#menu ul.dropdown{ display:block !important ; 
}



main{
	padding-top: 50px;
}
.left{
	background-color: #ffffff;
	padding-top: 20px;
}
.col-md-3{
	margin-left: 20px;
	width: 30%;
}
.search,.news{
	background-color: #ffffff;
	margin:0px;
}
.btn-default{
	background-image: linear-gradient(to bottom,#691b1d 0,#691b1d 100%);
	text-shadow: none;
	color: #fff;
	border-radius: 0px;
}
.btn-default:hover {
    background-color: #000;
    background-position: 0 0px;
    color: #fff
}
p{
	font-size: 1.3em
}
h1{
	font-weight: bold;
}
img{
	max-width: 100%
}
label{
	font-size: 2em;
}
hr{
	border: 2px solid #872123;
	width: 30%;
	margin-top: 0px
}
.main{
	padding-bottom: 30px
}
.cont{
	padding-bottom: 100px;
	border-bottom: 2 px solid
}
.cont>.meta{
	padding-top: 20px;
	padding-bottom: 20px
}
.cont>.meta>span{
	color: #a3a3a3
}
.cont>.meta>span>a{
	color: #a3a3a3
}
.cont>.meta>span>a:hover{
	text-decoration: none;
	color: #872123;
}
.cont>.meta>.day{
	padding-right: 50px
}
h1{
	font-size: 2em;
}
.news{
	margin-top: 20px
}
.news>.content>p{
	font-size: 16px;
	color: #872123;
}
.news>.content>p>a{
	font-size: 16px;
	text-decoration:none;
	color: #872123;
}
.news>.content>p>a:hover{
	text-decoration:none;
}
.content{
	padding: 10px
}
footer{
	background-color: #872123;
	text-align: center;
}
footer>.container{
	width: 850px;
	margin: auto;
}
footer>div>ul{
	overflow: hidden;
}
footer>div>ul>li{
	float:left;
	list-style-type:none;
	padding-top: 20px
}
footer>div>ul>li>a{
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.2em;
	color: yellow;
	border-right: 1px solid #757575;
}
footer>div>ul>li>a:hover{
	color: #fff;
	text-decoration: none;
}
footer>div>ul>li:last-child>a{	
	border-right: none;
}
footer>hr{
	border: 1px solid #757575;
	width: 90%;
	margin: auto;
}
footer>h5{
	color: #fff;
	font-size: 1.2em
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-indent: 100%;

  background: rgba(135, 33, 35, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.cd-top:hover {
  background-color: #691b1d;
  opacity: 1;
}

@media only screen and (max-width:620px){
	header,section,footer{
		width: 100%;
	}
}